body {
  text-align: center;
  background: url("./images/unnamed.gif");
  font-family: "Anton", sans-serif;
}

.topListItem {
  margin-top: -20px;
}

.bottomListItem {
  margin-bottom: 20px;
}

.learnMore {
  background-color: black;
  color: teal;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 900;
}
.learnMore:hover {
  background-color: white;
  color: black;
}

.home {
  background-color: black;
  color: teal;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 45px;
  font-weight: 900;
  margin-left: -70px;
  margin-right: 20px;
}
.home:hover {
  background-color: white;
  color: black;
}
.top {
  display: flex;
  flex-direction: row;
  height: auto;
}

.main {
  display: flex;
}

.start {
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  height: 20px;
}

.clear {
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  height: 20px;
}

.random {
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  height: 20px;
}

.parent {
  display: flex;
  justify-content: space-evenly;
}
.child {
  width: 50%;
}
.sample {
  width: 50%;
}

.sample {
  height: 80px;
  width: 80px;
}

.buttons {
  margin: auto;
}
